{% load tags %}

<div class="dropdown ">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        {% if cur_account %}
            Account: {{ cur_account.name }}{% if cur_account.number %} ({{ cur_account.number }}) {% endif %}
        {% else %}
            Select account
        {% endif %}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{ account_base_url }}">All</a></li>
    {% for account in accounts %}
        <li style="background: {{ account.color }};" id="account{{ account.pk }}"><a href="{{ account_base_url }}?account={{ account.pk }}">{{ account.name }}{% if account.number %} ({{ account.number }}) {% endif %}</a></li>
    {% endfor %}
    </ul>
</div>
