{% load tags %}
<div class="row well col-md-8 col-md-offset-2 text-center">
    <div class="row">
        <div class="">
            <a href="{% url 'charges' prev_month.year prev_month.month %}/{{ display }}">
                <button class="btn btn-primary btn-sm pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ prev_month.month|month_name }} {{ prev_month.year }}
                </button>
            </a>
            <span class="h3">{{ cur_month.month|month_name }} {{ cur_month.year }}</span>
            <a href="{% url 'charges' next_month.year next_month.month %}/{{ display }}">
                <button class="btn btn-primary btn-sm pull-right">
                    {{ next_month.month|month_name }} {{ next_month.year }}
                    <span class="glyphicon glyphicon-chevron-right"></span></button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="btn-group btn-group-justified" style="margin-top: 15px;">
            <a class="btn btn-primary btn-xs" href="{% url 'charges' year|add:-1 12 %}/{{ display }}"><span
                    class="glyphicon glyphicon-chevron-left"></span>{{ year|add:-1 }}
            </a>
            {% for month in months %}
                <a class="btn btn-primary btn-xs {% if month.cur %}btn-info{% endif %}"
                   href="{% url 'charges' cur_month.year month.num %}/{{ display }}">
                    {{ month.num|month_name_short }}
                </a>
            {% endfor %}
            <a class="btn btn-primary btn-xs" href="{% url 'charges' year|add:1 1 %}/{{ display }}">
                {{ year|add:1 }}<span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>