{% extends 'utgifter/master_layout.html' %}

{% load tags %}

{%  block pagetitle  %} Charges {% endblock %}

{% block head %}
<script type="text/javascript">
    var lastClickedCharge = -1;
    var selectedCharges = [];

    $(document).ready(function() {
        $(".tagListItem").click(function(e) {
            if (lastClickedCharge != -1)
                tagCharge(e);
            else if (selectedCharges.length > 0)
                tagCharges(e);
        });

        $(".setTagButton").click(function(e) {
            var reg = /tagCharge(\d+)/;
            var match = reg.exec(e.target.id);
            if (match != null) {
                lastClickedCharge = match[1];
            }
        });

        /* When a button/checkbox in the row is clicked, this tr click listener also fires.
           Makes the buttons/checkboxes behave in the wrong way, I'll fix it later.
        $(".trCharge").click(function(e) {
            var reg = /trCharge(\d+)/;
            var match = reg.exec($(this).closest("tr").attr('id'));
            if (match != null) {
                var checkBox = $("#chargeBox" + match[1]);
                checkBox.prop("checked", !checkBox.prop("checked"));
            }
        });*/
    });

    function tagCharge(e) {
        $("#setTagModal").modal("hide");

        var reg = /tag(\d+)/;
        var match = reg.exec(e.target.id);
        if (match != null) {
            $.post( "{% url 'charge_set_tag' %}", {"charge": lastClickedCharge, "tagid": match[1]},
                function(data) {
                    if (data.error) {
                        alert(data.msg);
                        return;
                    }

                    tagChargeId(lastClickedCharge, data.tagname, data.tagcolor);

                    lastClickedCharge = -1;
            });
        }
    }

    function tagCharges(e) {
        $("#setTagModal").modal("hide");

        var reg = /tag(\d+)/;
        var match = reg.exec(e.target.id);
        if (match != null) {
            var postdata = {"tagid": match[1]};
            $.each(selectedCharges, function(k, v) {
                postdata["charge"+k] = v;
            });
            $.post( "{% url 'charge_set_tag' %}", postdata,
                function(data) {
                    if (data.error) {
                        alert(data.msg);
                        return;
                    }

                    var checkedBoxes = $('input[type="checkbox"]:checked');
                    var reg = /chargeBox(\d+)/;

                    $.each(checkedBoxes, function(k, v) {
                        var match = reg.exec(v.id);
                        if (match != null) {
                            tagChargeId(match[1], data.tagname, data.tagcolor);
                        }
                    });
                    selectedCharges = [];
                    unselectAll();
            });
        }
    }

    function tagChargeId(chargeId, tagname, tagcolor) {
        var tagButton = $("#tagCharge" + chargeId);
        tagButton.html('<span class="glyphicon glyphicon-pencil"></span>');
        $("#untagCharge" + chargeId).show();
        var tdTag = tagButton.parent().siblings(".chargeTag");
        tdTag.css("background", tagcolor);
        tdTag.text(tagname);
    }

    function tagSelectedCharges() {
        var checkedBoxes = $('input[type="checkbox"]:checked');

        if (checkedBoxes.length <= 0) return;

        var reg = /chargeBox(\d+)/;
        selectedCharges = [];

        $.each(checkedBoxes, function(k, v) {
            var match = reg.exec(v.id);
            if (match != null) {
                selectedCharges.push(match[1]);
            }
        });

        $("#setTagModal").modal("show");
    }

    function unselectAll() {
        var checkedBoxes = $('input[type="checkbox"]:checked');
        checkedBoxes.prop("checked", false);
    }
</script>
{% endblock %}

{% block body %}
<div id="wrapper">
    <header>
    </header>
    <nav>
    </nav>
    <section id="content">
        <div class="col-md-10 col-md-offset-1">
            {% if cur_account %}
                {% with account_param="?account=" %}
                    {% include "utgifter/charges_nav.html" %}
                {% endwith %}
            {% else %}
                {% include "utgifter/charges_nav.html" %}
            {% endif %}
            <div class="row col-md-8 col-md-offset-5" style="margin-bottom: 5px;">
                {% url 'charges' cur_month.year cur_month.month as account_base_url %}
                {% include "utgifter/account_selector.html" %}
            </div>
            <div class="row col-md-10" style="margin-bottom: 5px;">
                {% if cur_account %}
                    <a href="{% url 'assign_charge_tags' %}?account={{ cur_account.pk }}">
                        <button class="btn btn-primary btn-sm">Assign tags</button>
                    </a>
                    <a href="{% url 'clear_charge_tags' %}?account={{ cur_account.pk }}">
                        <button class="btn btn-primary btn-sm">Clear all tags</button>
                    </a>
                {% else %}
                    <a href="{% url 'assign_charge_tags' %}">
                                    <button class="btn btn-primary btn-sm">Assign tags</button>
                                </a>
                                <a href="{% url 'clear_charge_tags' %}">
                                    <button class="btn btn-primary btn-sm">Clear all tags</button>
                                </a>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if cur_account %}
                        <a href="{% url 'charges' cur_month.year cur_month.month %}?account={{ cur_account.pk }}">
                            <button class="btn btn-primary btn-sm">Show all</button>
                        </a>
                        <a href="{% url 'charges' cur_month.year cur_month.month 'tagged' %}?account={{ cur_account.pk }}">
                            <button class="btn btn-primary btn-sm">Show only tagged</button>
                        </a>
                        <a href="{% url 'charges' cur_month.year cur_month.month 'untagged' %}?account={{ cur_account.pk }}">
                            <button class="btn btn-primary btn-sm">Show only untagged</button>
                        </a>
                    {% else %}
                        <a href="{% url 'charges' cur_month.year cur_month.month %}">
                            <button class="btn btn-primary btn-sm">Show all</button>
                        </a>
                        <a href="{% url 'charges' cur_month.year cur_month.month 'tagged' %}">
                            <button class="btn btn-primary btn-sm">Show only tagged</button>
                        </a>
                        <a href="{% url 'charges' cur_month.year cur_month.month 'untagged' %}">
                            <button class="btn btn-primary btn-sm">Show only untagged</button>
                        </a>
                    {% endif %}

                    <button class="btn btn-primary btn-sm pull-right tagSelectedButton" onclick="tagSelectedCharges();">
                        Tag selected...
                    </button>
                </div>
            </div>

            <table class="table table-bordered table-condensed table-hover">
                <tr>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Charge</th>
                    <th>Amount</th>
                    <th>Tag</th>
                    <th>Actions</th>
                </tr>
                {% for charge in charges %}
                <tr class="trCharge" id="trCharge{{ charge.pk }}">
                    <td class="chargeDate">{{ charge.short_date }}</td>
                    <td class="chargeAccount" bgcolor="{{ charge.account.color }}">{{ charge.account.name }}</td>
                    <td class="chargeName">{{ charge.name }}</td>
                    <td class="chargeAmount {%if charge.amount < 0 %}danger{% else %}success{% endif %}">
                        {{ charge.amount }}
                    </td>
                    <td title="{% if charge.matcher %}Matched by {{ charge.matcher.name }}{% else %}Manually tagged {% endif %}"
                        {% if charge.tag %} style="background: {{ charge.tag.color }}" {% endif %} class="chargeTag">
                        {{ charge.tag|default:""}}
                    </td>
                    <td>
                        <button type="button" id="tagCharge{{ charge.pk }}" class="btn btn-primary btn-xs setTagButton"
                                data-toggle="modal" data-target="#setTagModal">
                            {% if charge.tag %}
                            <span class="glyphicon glyphicon-pencil"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-tag"></span>
                            {% endif %}
                        </button>

                        {% if cur_account %}
                            <a href="{% url 'clear_charge_tag' charge.pk %}?account={{ cur_account.pk }}" id="untagCharge{{ charge.pk }}"
                        {% else %}
                            <a href="{% url 'clear_charge_tag' charge.pk %}" id="untagCharge{{ charge.pk }}"
                        {% endif %}
                           class="btn btn-primary btn-xs unTagButton" {% if not charge.tag %} style="display:none;"
                           {% endif %}>
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>

                        {% if cur_account %}
                            <a href="{% url 'charge_delete' charge.pk %}?account={{ cur_account.pk }}" id="deleteCharge{{ charge.pk }}"
                        {% else %}
                            <a href="{% url 'charge_delete' charge.pk %}" id="deleteCharge{{ charge.pk }}"
                        {% endif %}
                           class="btn btn-primary btn-xs deleteTagButton">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                        <div class="pull-right">
                            <input id="chargeBox{{ charge.pk }}" class="chargeCheckBox" type="checkbox">
                        </div>
                    </td>
                </tr>
                {% endfor %}

            </table>

            <div class="row">
                <div class="col-md-12">
                    {% if cur_account %}
                        <a href="{% url 'charges' cur_month.year cur_month.month %}?account={{ cur_account.pk }}">
                            <button class="btn btn-primary btn-sm">Show all</button>
                        </a>
                        <a href="{% url 'charges' cur_month.year cur_month.month 'tagged' %}?account={{ cur_account.pk }}">
                            <button class="btn btn-primary btn-sm">Show only tagged</button>
                        </a>
                        <a href="{% url 'charges' cur_month.year cur_month.month 'untagged' %}?account={{ cur_account.pk }}">
                            <button class="btn btn-primary btn-sm">Show only untagged</button>
                        </a>
                    {% else %}
                        <a href="{% url 'charges' cur_month.year cur_month.month %}">
                            <button class="btn btn-primary btn-sm">Show all</button>
                        </a>
                        <a href="{% url 'charges' cur_month.year cur_month.month 'tagged' %}">
                            <button class="btn btn-primary btn-sm">Show only tagged</button>
                        </a>
                        <a href="{% url 'charges' cur_month.year cur_month.month 'untagged' %}">
                            <button class="btn btn-primary btn-sm">Show only untagged</button>
                        </a>
                    {% endif %}

                    <button class="btn btn-primary btn-sm pull-right tagSelectedButton" onclick="tagSelectedCharges();">
                        Tag selected...
                    </button>
                </div>
            </div>
            {% if cur_account %}
                {% with account_param="?account=" %}
                    {% include "utgifter/charges_nav.html" %}
                {% endwith %}
            {% else %}
                {% include "utgifter/charges_nav.html" %}
            {% endif %}
        </div>
    </section>
    <aside>
    </aside>
    <footer>
    </footer>

    <!-- Modal for adding a new tag -->
    <div class="modal fade" id="setTagModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Set tag</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        {% for tag in tags %}
                        <a href="#" id="tag{{ tag.pk }}" class="list-group-item tagListItem"
                           style="background: {{ tag.color }}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}