{% extends 'utgifter/master_layout.html' %}

{%  block pagetitle  %} Import data {% endblock %}


{% block body %}
<div id="wrapper">
    <header>
    </header>
    <nav>
    </nav>
    <section id="content" class="col-md-8 col-md-offset-2">
        <form action="{% url 'import_data' %}" method="POST" id="import_charges_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="import_charges">Import charges</label>
                <textarea name="raw_charges" class="form-control" rows="15" id="import_charges"></textarea>
                <label for="account">Account</label>&nbsp;&nbsp;
                <select name="account" form="import_charges_form" id="account" required>
                    {% for account in accounts %}
                        <option value="{{ account.id }}">{{ account.name }}{% if account.number %} ({{ account.number }}){% endif %}</option>
                    {% endfor %}
                </select>
                {% if accounts|length == 0 %}
                    <b>&nbsp;You have no accounts, click <a href="{% url 'accounts' %}">here</a> to visit the accounts page.
                {% endif %}
                <br>
                <input type="submit" class="btn btn-primary" value="Import">
                &nbsp;&nbsp;<input name="autotag" id="autotag" type="checkbox">
                <label for="autotag" class="control-label">Assign tags automatically</label>
            </div>
        </form>
        <form action="{% url 'import_data' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="import_data">Import JSON data (tags, matchers and search strings)</label>
                <textarea name="json_data" class="form-control" rows="15" id="import_data"></textarea>

                <input type="submit" class="btn btn-primary" value="Import">
            </div>
        </form>
    </section>
    <aside>
    </aside>
    <footer>
    </footer>
</div>
{% endblock %}