{% extends 'utgifter/master_layout.html' %}

{% load tags %}

{%  block pagetitle  %} Stats {% endblock %}


{% block body %}
<div id="wrapper">
    <header>
    </header>
    <nav>
    </nav>
    <section id="content" class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="text-center well col-md-6 col-md-offset-3">
                <a href="{% url 'stats' prev_month.year prev_month.month %}/{{ display }}">
                    <button class="btn btn-primary btn-sm pull-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        {{ prev_month.month|month_name }} {{ prev_month.year }}
                    </button>
                </a>
                <span>{{ cur_month.month|month_name }} {{ cur_month.year }}</span>
                <a href="{% url 'stats' next_month.year next_month.month %}/{{ display }}">
                    <button class="btn btn-primary btn-sm pull-right">
                        {{ next_month.month|month_name }} {{ next_month.year }}
                        <span class="glyphicon glyphicon-chevron-right"></span></button>
                </a>
            </div>
        </div>
        {% for tag, sums in totals.items %}
        <div class="well">
            <h4>{{ tag }}</h4>
            <table class="table table-bordered table-condensed table-hover">
                <tr>
                    <th>Month</th>
                    <th>Sum</th>
                    <th>Delta</th>
                </tr>
                {% for sum, delta in sums %}
                {% if sum %}
                <tr>
                    <td>{{ forloop.counter|month_name }}</td>
                    <td>{{ sum|default:"" }}</td>
                    {% if delta and delta < 0 %}
                    <td class="success">
                        {% elif delta and delta > 0 %}
                    <td class="danger">
                        {% else %}
                    <td>
                        {% endif %}
                        {{ delta|default:"" }}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

            </table>
        </div>
        {% endfor %}
    </section>
    <aside>
    </aside>
    <footer>
    </footer>
</div>
{% endblock %}