{% extends 'utgifter/master_layout.html' %}

{%  block pagetitle  %} Tags {% endblock %}

{% block head %}
<script type="text/javascript">
    var unsavedRow = false;
    var editing = false;
    var editingRow = -1;
    var editingTag = -1;

    var old_name = null;
    var old_color = null;

    $(document).ready(function() {
        $(".editButton").click(setupEdit);
    });

    function setColorListener() {
        var color = $("#color_input");
        var reg = /#[A-Fa-f0-9]{6}/;

        updateColor = function() {
            colorField = $(this);
            var col = colorField.val();

            //var col = color.val();
            var match = reg.exec(col);
            if (match != null) {
                colorField.parent().removeAttr("style");
                colorField.parent().css("background", col);
            }
        };

        color.on("input", updateColor);
        color = $("#id_color");
        color.on("input", updateColor);
    }

    function removeColorListener() {
        var color = $("#color_input");
        color.unbind("input");
        color = $("#id_color");
        color.unbind("input");
    }

    function setupEdit() {
        var reg = /edit(\d+)_(\d+)/;
        var match = reg.exec(this.id);
        if (!match) return;

        var row = match[1];
        var tagid = match[2];

        if (editing)
            resetEdit(editingRow, editingTag);

        $(this).off("click");
        $(this).click(function() {
            resetEdit(row, tagid);
        });

        editingRow = row;
        editingTag = tagid;

        editing = true;
        $(this).html('<span class="glyphicon glyphicon-remove"></span>');

        var td = $(this).parent();
        td.prepend('<button id="save" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span></button>');

        var tr = td.parent();
        var name = tr.find(".name");
        old_name = name.html();
        name.html('<input id="name_input" class="inputs" type="text" value="' + name.text() + '">');
        var name_input = name.children()[0];
        name_input.focus();
        name_input.select();

        var color = tr.find(".color");
        old_color = color.html();
        color.html('<input id="color_input" class="inputs" maxlength="7" name="color" type="color" value="' + color.text() + '"/>');
        var color_input = color.children()[0];

        $(".inputs").keypress(function(e) {
            if (e.which == 13) {
                editTag(tagid, name_input.value, color_input.value);
            }
        });

        $("#save").click(function() {
            editTag(tagid, name_input.value, color_input.value);
        });

        setColorListener();
    }

    function resetEdit(row, tagid) {
        removeColorListener();

        var editButton = $("#edit" + row + "_" + tagid);
        editing = false;
        editButton.html('<span class="glyphicon glyphicon-pencil"></span>');
        var td = editButton.parent();
        td.find("#save").remove();

        var name = $("#name" + row);
        name.html(old_name);

        var color = $("#color" + row);
        color.html(old_color);

        editingRow = -1;
        editingTag = -1;

        $(".editButton").off("click");
        $(".editButton").click(setupEdit);
    }

    function editTag(tagid, name, color) {
        $.post( "{% url 'edit_tag' %}", {"tagid": tagid, "name": name, "color": color},
                function( data ) {
                    if (data.error) {
                        alert(data.msg);
                        return;
                    }

                    window.location.replace("{% url 'tags' %}");
            });
    }

    function addTag() {
        if (unsavedRow) return;
        unsavedRow = true;

        $("#addRow").show();
        $("#id_name").focus();
    }

    function closeRow() {
        unsavedRow = true;

        $("#addRow").hide();
    }

</script>
{% endblock %}
{% block body %}
<div id="wrapper">
    <header>
    </header>
    <nav>
    </nav>
    <section id="content" class="col-md-8 col-md-offset-2">

        {{ form.non_field_errors }}
        <table id="tagtable" class="table table-striped table-bordered table-hover">
            <tr>
                <th>Tag name</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
            {% for tag in tags %}
            <tr id="row{{ forloop.counter0 }}">
                <td id="name{{ forloop.counter0 }}" class="name">{{ tag.name }}</td>
                <td id="color{{ forloop.counter0 }}" class="color" style="background: {{ tag.color }}">{{ tag.color }}</td>
                <td>
                    <button id="edit{{ forloop.counter0 }}_{{ tag.pk }}" class="editButton btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <a href="{% url 'delete_tag' tag.pk %}" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr id="addRow" style="display:none">
                <form method="post">
                    {% csrf_token %}
                    <td>{{ form.name.errors }}
                        {{ form.name }}
                    </td>
                    <td style="background: {{ default_color }}">{{ form.color.errors }}
                        {{ form.color }}
                    </td>
                    <td>
                        <input type="submit" class="btn btn-primary" onclick="javascript:closeRow();"
                               value="Create tag"/>
                    </td>
                </form>
            </tr>
            <tr>
                <td colspan="4"><a href="javascript:addTag();">Add new tag</a></td>
            </tr>

        </table>

    </section>
    <aside>
    </aside>
    <footer>
    </footer>
</div>
{% endblock %}
