<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'ts/login.css' %}"/>

    <title> TardSchema - {%block pagetitle %}{% endblock %}</title>
</head>
<body>
<div class="jumbotron vertical-center">
    <div class="container">
        <div class="row">
            <div class="span12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>

</html>